/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo
.lsp
store*
.idea
*.iml
.vscode
/resources/db-config.edn
.calva

# TiDB
doc/TiDB
tidb/__pycache__
# YugabyteDB
txn-log/
txn-wal/
wal-texts/
run_test.sh
