{:postgresql {:dbtype    "postgresql"
              :host      "host"
              :port      port
              :user      "user"
              :password  "password"
              :dbname    "dbname"
              :sslmode   "sshlmode"}

 :tidb       {:dbtype    "mysql"
              :host      "host"
              :port      port
              :dbname    "dbname"}
 
  :mysql     {:dbtype    "mysql"
              :host      "host"
              :port      port
              :dbname    "dbname"
              :user      "user"
              :password  "password"}

 :dgraph     {:dbyte     "dgraph"
              :host      "host"
              :port      port}

 :mongodb    {:dbyte     "mongodb"
              :host      "host"
              :port      port
              :dbname    "dbname"
              :collname  "collname"}}